






<div id="dynamicTable">
</div>





@section Scripts
{
    <script>
            $("#dynamicTable").append("<table>");
            $("#dynamicTable").append("<caption>My table</caption>");
            $("#dynamicTable").append("<thead>");
            $("#dynamicTable").append("<tr>");
            $("#dynamicTable").append("<th>A</th>");
            $("#dynamicTable").append("<th>B</th>");
            $("#dynamicTable").append("<th>C</th>");
            $("#dynamicTable").append("</tr>");
            $("#dynamicTable").append("</thead>");

            $("#dynamicTable").append("<tbody>");

            $("#dynamicTable").append("<tr>");
            $("#dynamicTable").append("<td>what</td>");
            $("#dynamicTable").append("<td>now</td>");
            $("#dynamicTable").append("<td>cow</td>");
            $("#dynamicTable").append("</tr>");

            $("#dynamicTable").append("<tr>");
            $("#dynamicTable").append("<td>bach</td>");
            $("#dynamicTable").append("<td>v</td>");
            $("#dynamicTable").append("<td>dang</td>");
            $("#dynamicTable").append("</tr>");

            $("#dynamicTable").append("</tbody>");
            $("#dynamicTable").append("</table>");

            $('#dynamicTable table').addClass("dynamicTable");
            $('#dynamicTable table thead').addClass("dynamicTableTh");
            $('#dynamicTable table tbody td').addClass("dynamicTableTd");
    </script>
}