@model List<TodoApp.Models.ViewModel.TaskViewModel>
@{
    int count = 1;
    bool IsChanged = false;
}

<div class="container">

    <select style="background-color:#edede9; border-radius:10px;" id="optionselect">
        <option style="background-color:f5ebe0;" value="All">All</option>
        @foreach (var item in Model)
        {
            <option style="background-color:f5ebe0;" value="@item.TaskType">@item.TaskType</option>

        }
    </select>
   

        <div id="TableDiv"></div>
</div>

@section Scripts
{
    <script src="/js/TaskPage.js"></script>

    <script>
       
    </script>

}

@section Css
{
    <style>
        /*
        #TaskTbl {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #TaskTbl td, #TaskTbl th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #TaskTbl tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #TaskTbl tr:hover {background-color: #ddd;}

        #TaskTbl th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #04AA6D;
          color: white;
        }
        */       
    </style>
}