@model List<TodoApp.Models.ViewModel.TaskViewModel>
@{
    int count = 1;
    bool IsChanged = false;
}

<div class="container">

    <select style="background-color:#edede9; border-radius:10px;" id="optionselect">
        <option style="background-color:f5ebe0;" value="All">All</option>
        @foreach (var item in Model)
        {
            <option style="background-color:f5ebe0;" value="@item.TaskType">@item.TaskType</option>

        }
    </select>
   

        <div id="TableDiv"></div>
</div>

@section Scripts
{
    <script src="/js/TaskPage.js"></script>

    <script>

        
    </script>

}

@section Css
{
    <link rel="stylesheet" href="~/css/TaskStyle.css" />

}